:local(.app){
  height: 100%;
  display: flex;
  flex-direction: row;

  :local(.banner){
    width: 100%;
    height: 100%;
    background-image: url(../resource/banner.jpg);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    :local(.slogon){
      color: white;
    }

    >input{
      width: 200px;
      margin: 0 auto;
      background: none;
      border: none;
      border-bottom: 1px solid #ed1965;
      padding: 5px 0 5px 0;
      font-size: 20px;
      text-align: center;
      color: white;
      &:focus{
        border: none;
        border-bottom: 1px solid #ed1965;
        outline: none;
      }
    }
  }

  :local(.container){
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

    :local(.leftPanel){
      position: relative;
      height: 100%;
      width: 400px;
      min-width: 400px;
      transition: width 0.5s ease;
    }

    :local(.rightPanel){
      height: 100%;
      width: calc( 100% - 400px );
      min-width: 600px;
      overflow-y: hidden;
    }
  }
}
