:local(.app){
  background-color: rgb(250,250,250);
  height: 85vh;
  padding-top: 100px;

  :local(.container){
    height: 90%;
    width: 80%;
    min-width: 990px;
    min-height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid rgb(243, 243, 240);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 8px 0 rgba(96, 79, 113, 0.3);
  }
}
